<div>
<label>Title</label>
<input type="text" name="title" value="<%= book.title %>">  <!-- notice thst it is 'book' and not 'books' because we are pointing this data to the database model.-->
</div>

<div>
<label>Author</label>
<select name="author">
<% authors.forEach(author => { %>
    <% if (author.id === book.author) { %> <!-- notice thst it is book.author and not book.author.id or book.id because author is the id in the book model-->
        <option selected label="<%= author.name %>" value="<%= author.id %>">
    <% } else {%>
        <option label="<%= author.name %>" value="<%= author.id %>">
    <% } %>
<% }) %>
</select></div>

<div>
<label>Publish Date</label>
<input type="date" name="publishDate" 
    value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>"> <!-- getting the default date if publishing date is not specified -->
</div>

<div>
    <label>Page Count</label>
    <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>"> 
</div>

<div>
    <label>Cover</label>
    <input type="file" name="cover" class="filepond"> 
</div>

<div>
    <label>Description</label>
    <textarea name="description"><%= book.description %></textarea>
</div>